[Unit]
Description=Lighthouse Worker Service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin lighthouse-worker.sh

[Install]
WantedBy=multi-user.target